* {
  cursor: url("../cursor/gallery-cursor.png"), default;
  box-sizing: border-box;
  font-family: Fredoka one;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* this is to remove the scrollbar from view */
::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

body {
  background-color: black;
  margin: 0;
}

.gallery {
  width: 90vw;
  margin: 0 auto;
  animation: fade 4s both 1s;
}

.large-img-container {
  margin-top: 3rem;
  position: relative;
}

#large-img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

p {
  font-size: 2vw;
  text-align: center;
  color: white;
}

.small-img-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.image {
  width: 25%;
  min-width: 5rem;
  height: auto;
  margin: 1rem;
  transition: all 0.75s;
}

.image:hover {
  transform: scale(1.1);
}
