* {
  cursor: url("../cursor/main-cursor.png"), default;
}

html {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.icon-container {
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  height: 15%;
  width: 15%;
  z-index: 99;
}

.menu-icon {
  font-size: 10vw;
  color: white;
  margin: 0;
  animation: fade 5s both 1s;
}

.menu-icon:hover {
  animation: fade 5s both 1s, rotate 1s ease-out both;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-container {
  width: 90%;
  height: 100%;
  margin-left: 11vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}

.logo {
  height: 19vw;
  position: fixed;
  top: -3vw;
}

.woman {
  height: 50vw;
  position: fixed;
  bottom: 0vw;
  right: 25vw;
}

/* this is because i am using vw so everything is going to shrink according to width and is sized according to width, but with devices like chromebooks, the width is a lot longer than the height so the woman is displayed quite large */
@media screen and (max-height: 800px) {

  .woman {
    height: 34vw;
    right: 30vw;
  }

}

#fade {
  animation: fade 5s both 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.hover-container {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 87%;
  height: 100%;
  margin-left: 13vw;
}

#big-box {
  display: flex;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}

#box {
  width: 50%;
  height: 100%;
  text-align: center;
  transition: all 2s;
}

#box:hover {
  background-color: rgb(175, 175, 175);
}

#hover-icon {
  font-size: 12vw;
}

.phone-icon {
  position: relative;
  top: 17vh;
  
}

.number {
  display: none;
  font-family: Fredoka one;
  font-size: 2.5vw;
  position: fixed;
  left: 14vw;
  top: 35vh;
}

.phone-container:hover .number {
  display: block;
  animation: fade 2s ease-in-out both;
}

.email-icon {
  position: relative;
  top: 17vh;
}

.email {
  display: none;
  font-family: Fredoka one;
  font-size: 2.5vw;
  position: fixed;
  left: 50vw;
  top: 35vh;
}

.email-container:hover .email {
  display: block;
  animation: fade 2s ease-in-out both;
}

.social-media {
  position: relative;
  top: 17vh;
}

.resume-icon {
  position: relative;
  top: 17vh;
  text-decoration: none;
  color: black;
}

#social-icons {
  font-size: 6vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.social-icons {
  display: none;
  position: fixed;
  top: 54vh;
  left: 6vw;
}

.social:hover .social-icons {
  display: block;
  animation: fade 2s ease-in-out both;
}

#link {
  /* display: none; */
  position: fixed;
  top: 90vh;
  left: 13vw;
  font-family: Fredoka One;
  font-size: 2.5vw;
  text-decoration: none;
  color: black;
}

/* this doesn't work */
/* .insta:hover .instagram {
  display: block;
  animation: fade 2s ease-in-out both;
} */

.menu-container:hover .hover-container {
  display: block;
  animation: slide 1s ease-out both;
}

@keyframes slide {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}


@media screen and (max-width: 565px) {

  .icon-container {
    position: fixed;
    top: 20vh;
    left: 37vw;
  }

  .menu-icon {
    font-size: 15vh;
  }

  .logo {
    position: fixed;
    left: 8vw;
  }

  .woman {
    height: 40vh;
    position: fixed;
    right: 20vw;
  }

}