html {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.icon-container {
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  height: 15%;
  width: 15%;
  z-index: 99;
}

.menu-icon {
  font-size: 10vw;
  color: white;
  margin: 0;
  animation: fade 5s both 1s;
  /* animation: pulsate 2s ease-in-out infinite both 6s; */
}

/* @keyframes fade-plus-pulse {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  35% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.04);
  }
  45% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  55% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.04);
  }
  65% {
    transform: scale(1);
  }
} */

.main-container {
  width: 90%;
  height: 100%;
  margin-left: 11vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}

.logo {
  height: 19vw;
  position: fixed;
  top: -3vw;
}

.woman {
  height: 50vw;
  position: fixed;
  bottom: 0vw;
  right: 25vw;
}

/* this is because i am using vw so everything is going to shrink according to width and is sized according to width, but with devices like chromebooks, the width is a lot longer than the height so the woman is displayed quite large */
@media screen and (max-height: 720px) {

  .woman {
    height: 35vw;
    right: 30vw;
  }

}

#fade {
  animation: fade 5s both 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.hover-container {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 87%;
  height: 100%;
  margin-left: 13vw;
}

#big-box {
  display: flex;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}

#box {
  width: 50%;
  height: 100%;
  text-align: center;
  transition: all 2s;
}

#box:hover {
  background-color: rgb(175, 175, 175);
  cursor: pointer;
}

#hover-icon {
  font-size: 12vw;
}

.phone-icon {
  position: relative;
  top: 15vh;
}

.email-icon {
  position: relative;
  top: 15vh;
}

.social-media {
  position: relative;
  top: 15vh;
}

.resume-icon {
  position: relative;
  top: 15vh;
  text-decoration: none;
  color: black;
}

#hidden {
  display: none;
}

#social-icons {
  display: none;
}

.menu-container:hover .hover-container {
  display: block;
  animation: 
}


@media screen and (max-width: 565px) {

  .icon-container {
    position: fixed;
    top: 20vh;
    left: 37vw;
  }

  .menu-icon {
    font-size: 15vh;
  }

  .logo {
    position: fixed;
    left: 8vw;
  }

  .woman {
    height: 40vh;
    position: fixed;
    right: 20vw;
  }

}