html {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.big-container {
  display: flex;
  height: 100%; 
  width: 100;
}

.flashlight-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.flashlight {
  font-size: 30vw;
  transform: rotate(20deg);
  position: relative;
  top: 3.5vw;
  color: white;
}

.welcome-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#welcome_text {
  font-family: 'Fredoka One';
  color: white;
  font-size: 10vw;
  position: relative;
  top: -17vw;
  right: 20vw;
  transform: rotate(-25deg);
	animation: flicker 2s linear both;
}

.continue {
  color: black;
  font-family: Fredoka One;
  font-size: 2.5vw;
  position: fixed;
  bottom: 1.5vw;
  right: 1.5vw;
  background-color: white;
  padding-top: 1.5vw;
  height: 5vw;
  width: 15vw;
  text-align: center;
  text-decoration: none;
  border-radius: 5vw;
  transition: all 0.5s;
  animation: fade-in 3.5s 2.25s both;
}  

.continue:hover {
  box-shadow: 0px 0px 5px 5px white;
}

@keyframes fade-in {
  0% {
    /* this makes the button not only fade in but also slighty enlarges at it fades in so it looks like it is coming towards the user */
    transform: translateZ(-8vw);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* I found this animation in an animation library (animista.net), and I modified it so that it would "flicker" the way that I wanted it to. basically all that happening is the opacity of the text is changing from one to zero in a way that has no discernable pattern in order to make it look like a flicker. At the same time, there is a text shadow to make it look like the "welcome text" is shining out of the flashlight. */
@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 0; 
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 650px) {

  .welcome-container {
    align-items: flex-start;
  }

  #welcome_text {
    transform: rotate(0deg);
    position: fixed;
    top: 3.5vw;
    right: 7vw;
    margin: 0;
  }

  .flashlight-container {
    align-items: flex-start;
  }

  .flashlight {
    transform: rotate(45deg);
    position: fixed;
    top: -5vw;
    left: 7vw;
  }

  .continue {
    position: fixed;
    top: 60vw;
    right: 27vw;
    height: 12vw;
    width: 45vw;
    font-size: 8vw;
    border-radius: 8vw;
    padding-top: 2vw;
  }
}